#Jupyter Notebook Junk
.ipynb_checkpoints
__pycache__

#OS Junk
.DS_Store

#Other files
test.ipynb
dtw_distance-Copy1.ipynb
data/distance_dat_file_COPY.csv
data/test_file.csv
dtw_distance-Copy2.ipynb
writing.ipynb